body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
}

p {
  margin: 0;
}

.container {
  width: 60vw;
  margin: 3rem auto;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.slider-container {
  display: flex;
  width: 60vw;
  height: 65vh;
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slider__slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60vw;
  height: 65vh;
}

.slider__slide_1 {
  background-image: url(./assets/1.jpg); 
}

.slider__slide_2 {
  background-image: url(./assets/2.jpg); 

}

.slider__slide_3 {
  background-image: url(./assets/3.jpg); 
}

.slider__slide_4 {
  background-image: url(./assets/4.jpg); 
}